{% extends "adaptiware/base.html" %}

{% block content %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Our Contacts</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Contacts</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!-- Google Map -->
    <div id="map" class="map">
    </div><!---/map-->
    <!-- End Google Map -->

    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row margin-bottom-30">
    		<div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2>Contact Form</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p><br />
    			<form>
                    <label>Name</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>                
                    </div>
                    
                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>                
                    </div>
                    
                    <label>Message</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea rows="8" class="form-control"></textarea>
                        </div>                
                    </div>
                    
                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </form>
            </div><!--/col-md-9-->
            
    		<div class="col-md-3">
            	<!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
                </ul>

            	<!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                	<li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                	<li><strong>Saturday:</strong> 11am to 3pm</li>
                	<li><strong>Sunday:</strong> Closed</li>
                </ul>

            	<!-- Why we are? -->
                <div class="headline"><h2>Why we are?</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                <ul class="list-unstyled">
                	<li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
                	<li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
                	<li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
                </ul>
            </div><!--/col-md-3-->
        </div><!--/row-->        

        <!-- Our Clients -->
        <div id="clients-flexslider" class="flexslider home clients">
            <div class="headline"><h2>Our Clients</h2></div>    
            <ul class="slides">
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/hp_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/hp.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/igneus_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/igneus.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/vadafone_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/vadafone.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/walmart_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/walmart.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/shell_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/shell.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/natural_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/natural.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/aztec_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/aztec.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/gamescast_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/gamescast.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/cisco_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/cisco.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/everyday_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/everyday.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/cocacola_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/cocacola.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/spinworkx_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/spinworkx.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/shell_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/shell.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/natural_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/natural.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/gamescast_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/gamescast.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/everyday_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/everyday.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{STATIC_URL}}assets/img/clients/spinworkx_grey.png" alt="" /> 
                        <img src="{{STATIC_URL}}assets/img/clients/spinworkx.png" class="color-img" alt="" />
                    </a>
                </li>
            </ul>
        </div><!--/flexslider-->
        <!-- End Our Clients -->
    </div><!--/container-->		
    <!--=== End Content Part ===-->

{% endblock %}

{% block plugins %}

    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/flexslider/flexslider.css">
    
{% endblock %}

{% block style %}

    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/pages/page_contact.css">
    
{% endblock %}

{% block javascript %}

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{STATIC_URL}}assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/js/app.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/js/pages/page_contacts.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        ContactPage.initMap();              
    });
</script>

{% endblock %}