{% extends "adaptiware/base.html" %}

{% block content %}    

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Portfolio 4 Columuns</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Portfolio</a></li>
                <li class="active">Portfolio 4 Columuns</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content portfolio-4-columns">   
        <div class="row"> 
        {% for image in images %}
            <div class="col-md-3 col-sm-6">
                <div class="view view-tenth">
                    <img class="img-responsive" src="{{image.image.url}}" alt="" />
                    <div class="mask">
                        <h2>Portfolio Item</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="portfolio_item.html" class="info">Read More</a>
                    </div>                
                </div>
            </div>   
        {% endfor %}
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}


{% block style %}

    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/pages/portfolio-v1.css">
    
{% endblock %}

{% block javascript %}

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/back-to-top.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{STATIC_URL}}assets/js/custom.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();      
    });
</script>

{% endblock %}
